// Gutter
.mdDoc-ref {
    background-color: #446fbd;
    color: white;
    width: 1em;
    text-align: center;
    position: absolute;
}

// Panel
#mddoc-panel {
    .nav-tabs {
        margin-left: 1em;
    }
}

#mddoc-error {
    .loc {
        cursor: pointer;
    }
}
