// C&P some less defaults, see if reuse somehow
@bc-black:       #000000;
@sansFontFamily:        "Helvetica Neue", Helvetica, Arial, sans-serif;

// Gutter
.mdDoc-gutter {
    color: white;
    width: 1em;
    text-align: center;
    position: absolute;
}
.mdDoc-ref {
    background-color: #446fbd;
}
.mdDoc-warning, .mdDoc-todo {
    background-color: #EECD24;
}


// Panel
#mddoc-panel {
    .nav-tabs {
        margin-left: 1em;
    }
    .tab-pane {
        padding: 10px;
    }
}

#mddoc-error {
    .loc {
        cursor: pointer;
    }
    .stacktrace {
        background-color: initial;
        border: initial;
        font-size: 10px;
        padding: 0;
    }
}

#mddoc-not-found {
    .loc {
        cursor: pointer;
        text-decoration: underline;
        color: blue;
    }
}

// Status bar
.mddoc-success {
    color: green;
}

.mddoc-error {
    color: red;
}

.mddoc-not-found {
    color: #8A6D3B;
}


// Quick view

.inline-widget {
    .inline-html-show {
        /*white-space: nowrap;*/
    }

    .inline-html-show-header {
        display: inline-block;
        padding: 10px 10px 0px 40px;

        .title {
            vertical-align: middle;
            font-family: @sansFontFamily;
            font-size: 13px;
            color: @bc-black;
            cursor: pointer;
        }
    }

    .inline-html-show-holder {
        padding: 10px 40px;
    }
}
